
@page {
  margin: 0.5cm;
}

body {
  font: 12pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}

.entry .title:before,
.timeline:before {
  content: none !important;
}

.timeline:before {
  left: 0 !important;
}

h1 {
  page-break-before: always;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

.entry {
  overflow: hidden;
  page-break-inside: avoid;
}

.entry .title,
.entry .body {
  padding-left: 0 !important;
}

.entry:first-child {
  margin-top: 30px !important;
}

.section-title-col {
  margin-bottom: 16px !important;
}

section {
  padding-top: 30px !important;
}
