@import url("print.css") print;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

body, section {
  padding-top: 60px;
}

.section {
  height: 100%;
}

.past-job {
  margin-bottom: 15px;
  min-height: 20px;
  padding: 5px 0;
}

.section-title, .position, .college {
  font-weight: bold;
}

.degree {
  color: #222;
  font-weight: 600;
}

#subtitle {
  font-size: 16px;
}

dl {
  float: right;
  clear: none;
  width: 100%;
}

dt {
  display: none;
}

dd {
  width: 100%;
}

.section-title-col {
  margin-bottom: 32px;
}

.section-title {
  color: #868686;
  font-weight: 700;
  margin: 1px 0 3px 0;
}

.date {
  color: #666;
  font-size: 86%;
}

.company, .college-location, .location {
  color: #888;
}

.section:last-child {
  margin-bottom: 32px;
}

.entry:first-child {
  margin-top: 60px;
}


/* Footer */

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
}

.footer>.container {
  padding-left: 16px;
  padding-right: 16px;
}

.tag {
  background-color: #d1d1d1;
  border-radius: 3px;
  display: inline-block;
  margin: 2px;
  padding: 3px 6px;
  word-wrap: break-word;
  vertical-align: middle;
}

.no-style {
  list-style-type: none;
  padding-left: 0;
}


/* *+****************
  Timeline
******************* */

.timeline {
  width: 100%;
  position: relative;
}

.timeline:before {
  background: #ddd;
  bottom: 0;
  content: '';
  left: calc(33% + 15px);
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 1;
}

.timeline:after {
  clear: both;
  content: "";
  display: table;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}

.entry .title {
  margin-bottom: .5em;
  float: left;
  padding-right: 30px;
  position: relative;
  text-align: right;
  width: 33%;
  z-index: 2;
}

.entry .title:before {
  background-color: #fff;
  border: 4px solid #868686;
  border-radius: 100%;
  content: '';
  height: 16px;
  right: -20px;
  position: absolute;
  top: 15%;
  width: 16px;
  z-index: 99;
}

.entry .title h4 {
  font-size: 120%;
  margin: 0;
}

.entry .title p {
  font-size: 100%;
  margin: 0;
}

.entry .body {
  float: right;
  margin: 0 0 3em;
  padding-left: 30px;
  width: 66%;
  position: relative;
  z-index: 2;
}

.entry .body p {
  line-height: 1.4em;
}

.entry .body p:first-child {
  font-weight: 400;
  margin-top: 0;
}

.entry .body ul {
  list-style-type: none;
  padding-left: 0;
}

.entry .body ul li:before {
  content: "–";
  margin-right: .5em;
}

@media (max-width: 768px) {
  .timeline:before {
    left: auto;
  }
  .entry .title {
    float: none;
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
    width: auto;
  }
  .entry .title:before {
    left: -6px;
  }
  .entry .body {
    float: none;
    width: auto;
  }
}
